:root{
  --background-color: #37353E;
  --text-color: #DCD7C9;

  --button-color: #715A5A;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;

  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;

  background-color: var(--background-color);
  color: var(--text-color);
}


#clickBtn{
  cursor: pointer;

  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 0px;

  font-size: 18px;

  background-color: var(--button-color);
}

#clickBtn:active{
  transform: translateY(-1px);
}

#ytLink{
  text-decoration: none;
  color: var(--text-color);
}